<!DOCTYPE html>
<html lang="es" class="no-js">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{path}}images/statics/logo.ico">
        <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="{{path}}css/reset.css">
        <link href="{{path}}css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link rel="stylesheet" href="{{path}}css/shop.css">
        <script src="{{path}}js/modernizr.js"></script>

        <title>Shop</title>
        

    </head>

    <body>
        <div id="background"></div>
        <header>
            <div id="background-header">
            </div>
            <div id="logo">
                <a href="{{path}}{{lang}}">
                <img src="{{path}}images/statics/lachacina.png" alt="lachacina">
                </a>
            </div>

            <div id="cd-hamburger-menu">
                <a class="cd-img-replace" href="#0">Menu</a>
            </div>
            <div id="cd-cart-trigger">
                <a class="cd-img-replace" href="#0">Cart</a>
            </div>
        </header>

        <nav id="main-nav">
            <ul>
                <li>
                    <a class="{{markHome}}" href="{{path}}{{lang}}">{{langWords.home}}</a>
                </li>
                <li>
                    <a class="{{markAbout}}" href="{{path}}{{lang}}/about">{{langWords.about}}</a>
                </li>
                <li>
                    <a class="{{markProducts}}" href="{{path}}{{lang}}/products">{{langWords.products}}</a>
                </li>
                <li>
                    <a class="{{markContact}}" href="{{path}}{{lang}}/contact">{{langWords.contact}}</a>
                </li>
                {{#unless sessionToken}}        
                <li>
                    <a id="register" class="{{markRegister}}"  href="{{path}}{{lang}}/register">{{langWords.register}}</a>
                </li>

                <li>
                    <a  class="show-login"  data-toggle="modal" data-target="#LoginModal" data-whatever="@getbootstrap">Login <i class="ion-log-in"></i></a>
                    {{!-- <a class="show-login"  href="#">Login</a> --}}
                </li>
                
                {{else}}
                <li>
                    <a id="logout" title="exit" onclick="logOut('{{lang}}')" href="#">{{dataUser.name}} <i class="ion-log-out"></i></a>
                </li>                
                {{/unless}}
                
                
                
                
                
                <li>

            

                    <select id="language-select" class="form-control">
                        <option id="option-es" value="/es{{url}}">es</option>
                        <option id="option-en" value="/en{{url}}">en</option>                
                    </select>
                </li>
            </ul>
        </nav>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {{{body}}}

        <div id="cd-shadow-layer"></div>

        <div id="cd-cart">
            <h2>{{langWords.cart}}</h2>
            <ul id="ul-card" class="cd-cart-items">
                <span>
                 {{#each cart}}
                <li id="li{{this._id}}">
                    <span class="cd-qty"><span id="unit{{this._id}}">{{this.__v}}</span>x</span> {{this.name}}
                    <div class="cd-price">{{this.sumaTotal}}€</div>
                    <a href="#0" id="remove{{this._id}}" class="cd-item-remove cd-img-replace">Remove</a>
                </li>
                {{/each}}
                

            </ul>
            <!-- cd-cart-items -->

            <div class="cd-cart-total">                
                <p>
                Total <span id="total">{{totalPrice}}€</span>
                </p>
            </div>
            <!-- cd-cart-total -->
             <p id="empty-cart-menu" title="{{langWords.emptyCart}}">
                <a href="#0">               
                    <img src="{{path}}images/statics/empty-cart.png" alt="empty-cart">
            </a>
            </p>
            <div class="text-center">
            <a href="{{path}}{{lang}}/cart" class="checkout-btn btn-shop">{{langWords.see}}</a>
            </div>

 
        </div>
        <!-- cd-loging -->




<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModallLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content form-login">
      <div class="modal-header">
        <h5 class="modal-title" id="LoginModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="login"  onsubmit="return sendForm();">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label" >Email</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Password</label>
            <input type="password" class="form-control"  name="password" id="password">
          </div>
            <label id="message" class="text-danger" for="exampleInputPassword1"></label>
            <div class="modal-footer">
            <br><button type="submit" name="submit" class="btn-shop">{{langWords.send}}</button><br><br>
            </div>
        </form>
      </div>
      
    </div>
  </div>
</div>


        <footer>
            ©copyright{{year}}
        </footer>

 

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script src="{{path}}js/main.js"></script>     
        <script src="{{path}}js/global.js"></script>
        <script>

            let lang ='{{lang}}';
            $("#option-{{lang}}").attr("selected",true);

            /*
            $('.show-login').click(function(){
                if ($('#login-div').css('display') == 'none' )
                    $('#login-div').css('display','inherit');
                else
                    $('#login-div').css('display','none');
            });
            */



            $('#message').append(localStorage.getItem("message")+"<br>");
            localStorage.setItem("message","")                       
                    
                    function sendForm(){

                    var xmlhttp = new XMLHttpRequest();
                        var formLogin = document.querySelector("#login")
                        formData=formToJson(formLogin);
                        //console.log("data",formData);                                              

                        sendAjaxHttp(xmlhttp,"POST",`Bearer {{{sessionToken}}}`,'../../../login',formData);
                        
                        xmlhttp.onreadystatechange=function(){
                            if(xmlhttp.readyState==4){
                                    var resp = xmlhttp.responseText;
                                    var respJSON = JSON.parse(resp);
                            
                            if(respJSON.login){
                                location.reload();                      
                            }else{
                                console.log("login-admin",respJSON); 
                                $("#message").text("Usuario o contraseña incorrectos.");
                                }                     
                                     
                            }
                        }

                        return false;
                    }



 
        </script>

             
        
    </body>
</html>