
<div class="about container">
    
    <h3>{{langWords.titleAbout}}</h3><br>

    <div class="col-md-6">
        <p>
        {{langWords.paragraph1}}
        </p>
        <p>
        {{langWords.paragraph2}}
        </p>
         <p>
        {{langWords.paragraph3}}
        </p>
        <p>
    </div>
    <div class="col-md-6">
        <img src="https://decoracionsevilla.files.wordpress.com/2013/05/dsc_1314.jpg?w=584&h=530" alt="cortijo">
    </div>
    <div class="col-md-12">  
        {{langWords.paragraph4}}
        </p>
         <p>
        {{langWords.paragraph5}}
        </p>
        <p>
        {{langWords.paragraph6}}
        </p>

    </div>

    



</div>
