<form class="container-fluid col-md-4 offset-md-4 " id="formregistre" onsubmit="return sendFormReg();">
      <h3>{{langWords.register}}</h3><br>
   
    <div class="form-group">
        <small  class="form-text text-muted">Email:</small>
        <input type="email" class="form-control" id="emailreg" placeholder="Email">
    </div>
    
    <div class="form-group">
        <small  class="form-text text-muted">{{langWords.name}}:</small>
        <input type="text" class="form-control" id="namereg" placeholder="Nombre">
    </div>

    <div class="form-group">
        <small  class="form-text text-muted">Password:</small>
        <input type="password" class="form-control" id="passwordreg" placeholder="Password">
    </div>

    <div class="form-group">
        <small  class="form-text text-muted">{{langWords.repeat}} Password:</small>
        <input type="password" class="form-control" id="password2" placeholder="Password">
    </div><br>


        <button type="submit" class="btn-shop">{{langWords.register}}</button>
    <br>


</form>


<!-- Modal -->
<div class="modal fade" id="registered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{langWords.register}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{langWords.registerOk}}
      </div>
      <div class="modal-footer">
        <button type="button" id="ok-registered" class="btn-shop">Ok</button>
      </div>
    </div>
  </div>
</div>



<script>

     {{#if sessionToken}}
        window.location.href="/{{lang}}";  
      {{/if}}


       

    function sendFormReg(){

            let theForm = document.querySelector("#formregistre")
            formData=formToJson(theForm);
            const xmlhttpReg = new XMLHttpRequest();
            sendAjaxHttp(xmlhttpReg,"POST",null,'/register',formData);

            xmlhttpReg.onreadystatechange=function(){
            if(xmlhttpReg.readyState==4){ 
                var resp = xmlhttpReg.responseText;
                var respJSON = JSON.parse(resp);

                if(respJSON.add){
                    console.log(respJSON);
                    $('#registered').modal('show');
                    $('#ok-registered').click(function(){
                       window.location.href="/{{lang}}";
                    })
                }                        
            }            
        }

       

       return false; 
    }


</script>