<form class="container col-md-6 offset-md-3 " id="formproduct" onsubmit="return sendForm();"><br>
    
  
    <div class="form-group">
        <label for="formGroupExampleInput" >Nombre Español:</label>
        <input type="text" class="form-control" value="{{product.name}}" id="name" placeholder="nombre del producto">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput" >Nombre Inglés:</label>
        <input type="text" class="form-control" value="{{product.nameEng}}" id="nameEng" placeholder="name of product">
    </div>
    
    <div class="form-group">
        <label for="formGroupExampleInput2" >Stock</label>
        <input type="number" value="{{product.stock}}" class="form-control" id="stock" placeholder="Nº unidades en stock">
    </div>

    <div class="form-group">
        <label for="exampleInputFile">Imagen 1</label><br>
        <input value="{{product.picture1}}" readonly id="fieldimg1" style="float:left" type="text"  class="form-control col-md-6" id="picture1" placeholder="nombre del producto">
        <div onclick="popUp('picture1')"  id="img1"  class="btn btn-outline-success"> Subir</div>  
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Imagen 2</label><br>
        <input value="{{product.picture2}}" readonly style="float:left" type="text" class="form-control col-md-6" id="picture2" placeholder="nombre del producto">
        <div onclick="popUp('picture2')"  id="img2"   class="btn btn-outline-success"> Subir</div>  
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Imagen 3</label><br>
        <input value="{{product.picture3}}" readonly style="float:left" type="text" class="form-control col-md-6" id="picture3" placeholder="nombre del producto">
        <div onclick="popUp('picture3')"   id="img3"  class="btn btn-outline-success"> Subir</div>  
    </div>
    <div class="form-group">
       <label for="exampleInputFile">Imagen 4</label><br>
        <input value="{{product.picture4}}" readonly style="float:left" type="text" class="form-control col-md-6" id="picture4" placeholder="nombre del producto">
        <div onclick="popUp('picture4')"  id="img4"   class="btn btn-outline-success"> Subir</div>  
    </div><br>

    <div class="form-group">
        <label for="formGroupExampleInput2">Precio</label>
        <input type="number" value="{{product.price}}" class="form-control" id="price" placeholder="Precio del producto">
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput2">Precio el Kg</label>
        <input type="number" value="{{product.pricekg}}" class="form-control" id="pricekg" placeholder="Precio del producto">
    </div>    

    <div class="form-group">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Nuevo</label>
        <select value="{{product.news}}"  class="custom-select mb-2 mr-sm-2 mb-sm-0" id="news">
            <option {{#if product.news}} selected  {{/if}} value="true">Si</option>
            <option {{#unless product.news}}  selected  {{/unless}} value="false">No</option>

        </select>        
    </div>

    <div class="form-group">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Categoría</label>
        <select id="category" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="select-category">
            {{#each categories}}  
                <option id="option{{id}}" value="{{id}}">{{name}}</option>  
            {{/each}}
        </select>        
    </div>
    <div class="form-group">
        <label for="exampleTextarea">Descripción en español</label>
        <textarea  class="form-control" id="description" rows="3">{{product.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="exampleTextarea">Descripción en inglés</label>
        <textarea  class="form-control" id="descriptionEng" rows="3">{{product.descriptionEng}}</textarea>
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput2">Peso</label>
        <input type="number" value="{{product.weight}}" class="form-control" id="weight" placeholder="Precio el kilogramo">
    </div>
      

    <button type="submit" class="btn btn-primary">Modificar</button><br>


</form><br>









<script type="text/javascript">
    $("#option{{product.category}}").attr("selected",true);

    function popUp(fidFieldImg){
        var myPopUp = window.open("../../../admin/upload-image",fidFieldImg,"width=450,height=300");           
    }  

        function sendForm(){
    const xmlhttpProduct = new XMLHttpRequest();

        const formProduct = document.querySelector("#formproduct")
        formData=formToJson(formProduct);
        console.log(formData);

        sendAjaxHttp(xmlhttpProduct,"PUT",`Bearer {{{sessionToken}}}`,'/ddbb/edit-product/{{idProduct}}',formData); 
        
        xmlhttpProduct.onreadystatechange=function(){
                if(xmlhttpProduct.readyState==4){ 
                    var resp = xmlhttpProduct.responseText;
                    var respJSON = JSON.parse(resp);
    
                    console.log(respJSON);  
                    bootbox.alert("Articulo modficado correctamente!", function(){ 
                    location.reload();                                             
                    })
                }
            }
  
        return false;
    }



</script>